# Carpeta node_modules
src/node_modules/

# Archivos de dependencias
src/package-lock.json

# Archivos de configuración
.env

# Archivos de registro
logs/
*.log

# Otros archivos generados
coverage/
dist/
.DS_Store
